{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block main %}
    <div style="justify-content: center; text-align: center; margin-top: 40px">
    <h4 class="card-title">Change your password</h4>
    <form method="post" style="width: 60%;display: inline-block;">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" 
                class="btn btn-success btn-block">
            Change password
        </button>
        <a href=".." 
           class="btn btn-danger btn-block">
            Back to home
        </a>
    </form>
    </div>
{% endblock %}

