{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block main %}
   <div class=".table-responsive-sm ty">
          <table class="admtb">
      <thead>
        <tr>
          <td>Тур</td>
          <td>Имя</td>
          <td>Фамилия</td>
          <td>Телефон</td>
            <td>Почта</td>
          <td>Количество мест</td>
        </tr>
      </thead>
      <tbody>
      {% for order in orders %}
        <tr>
          <td>{{ order.tour.tour_name }}</td>
          <td>{{ order.name }}</td>
          <td>{{ order.surname }}</td>
          <td>{{ order.phone }}</td>
          <td>{{ order.mail }}</td>
          <td>{{ order.place }}</td>
          <td><a href="/tours/admin/{{ order.id }}">Удалить</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
   </div>
{% endblock %}
    name = models.CharField(verbose_name="Имя", max_length=255)
    surname = models.CharField(verbose_name="Фамилия", max_length=255)
    mail = models.EmailField(verbose_name="Почта")
    phone = models.CharField(verbose_name="Телефон", max_length=255)
    place = models.IntegerField(verbose_name="Количество мест")
    tour = models.ForeignKey(Tour, on_delete=models.CASCADE, verbose_name='Тур')